<div class="menu">
	<ul class="nav">
			<div id = "navLeft"></div>
			<div id = "navRight"></div>
			<li class = "mainmenu"><a href="{{ site.baseurl }}/">Home</a></li>
			<li class = "submenu">	<a href="{{ site.baseurl }}/about/">About</a></li>
			<li class = "submenu"><a href="{{ site.baseurl }}/work/">Work</a></li>
			<li class = "submenu"><a href="{{ site.baseurl }}/computers/">Computers</a>
			<ul>
				<li class = "submenu2"><a href="{{ site.baseurl }}/java/">Java</a></li>
				<li class = "submenu2"><a href="{{ site.baseurl }}/os/">OS</a></li>
				<li class = "submenu2"><a href="{{ site.baseurl }}/databases/">Databases</a></li>
				<li class = "submenu2"><a href="{{ site.baseurl }}/cpp/">C++</a></li>
				<li class = "submenu2"><a href="{{ site.baseurl }}/mathematics/">Mathematics</a></li>
				<li class = "submenu2"><a href="{{ site.baseurl }}//"></a></li>
				<li class = "submenu2"><a href="{{ site.baseurl }}/dsa/">DSA</a>
				<ul>
					<li><a href="{{ site.baseurl }}/linkedlist/">Linked List</a></li>
					<li><a href="{{ site.baseurl }}/arrays/">Array</a></li>
					<li><a href="{{ site.baseurl }}/dp/">DP</a></li>
					<li><a href="{{ site.baseurl }}/trees/">Trees</a></li>
					<li><a href="{{ site.baseurl }}/sorting/">Sorting</a></li>
					<li><a href="{{ site.baseurl }}/searching/">Searching</a></li>
					<li><a href="{{ site.baseurl }}/backtracking/">Backtracking</a></li>
					<li><a href="{{ site.baseurl }}/matrix/">Matrix</a></li>
					<li><a href="{{ site.baseurl }}/bitMagic/">Bit Magic</a></li>
					<li><a href="{{ site.baseurl }}/graphs/">Graphs</a></li>
				</ul></li>			
			</ul></li>
			<li class = "submenu"><a href="{{ site.baseurl }}/archive/">Archive</a></li>
			<li class = "submenu"><a href="{{ site.baseurl }}/photo/">Photos</a></li>
			<li class = "submenu"><a href="{{ site.baseurl }}/contact/">Contact Me</a></li>	
			</ul>
	</ul>
</div>
